body {
    margin-left: 100px;
    background-color: black;
    padding: 10px 20px;
}

/* p {
    color: rgb(255, 221, 26);
    font-family: sans-serif;
    font-size: 34px;
    margin-bottom: 6px;
} */

@media (max-width: 999px) {
    canvas {
        max-width: 100%;
        max-height: 100vh;
        padding-top: 0;
    }

    span#score {
        font-size: .6em;
    }

    span#scoreEL {
        font-size: .6em;
    }
}

@media (max-width: 500px) {
    canvas {
        max-width: 100%;
        max-height: 100vh;
    }
}

@media (max-height: 500px) {
    canvas {
        max-width: 100%;
        max-height: 100vh;
    }
}